pre {
  background-color: #f3f3f3b8;
  padding: 20px;
}
@font-face {
  font-family: 'Stardew Valley Stonks';
  src: url('../../medias/fonts/stardew_valley_stonks.ttf') format('truetype');
}
@font-face {
  font-family: 'Stardew Valley Regular';
  src: url('../../medias/fonts/stardew_valley_regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: url('../../medias/fonts/inter.ttf') format('truetype');
}
.tooltip:hover {
  position: relative;
}
.tooltip span {
  position: absolute;
  display: none;
  font-family: "Stardew Valley Stonks", serif;
  width: max-content;
  padding: 5px 7.5px;
  background-color: #ffc677;
  border-image: url('../../medias/images/content/border-image.png') 15 stretch;
  border-image-width: 2px;
}
.tooltip img:hover {
  cursor: url("../../medias/images/cursors/help.cur"), help;
}
.tooltip img:hover ~ span {
  z-index: 100;
  display: inline;
}
* {
  padding: 0;
  box-sizing: border-box;
  cursor: url("../../medias/images/cursors/cursor.cur"), auto;
}
html {
  background-image: url("../../medias/images/content/bg.png");
  background-size: 125% 125%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
}
body {
  margin: 100px 100px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.64);
}
body .save-file {
  position: absolute;
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
  top: calc(100px/2 + 10px);
  right: 100px;
  padding: 5px 15px;
  background-color: #ffc677;
  border-image: url('../../medias/images/content/border-image.png') 15 stretch;
  border-image-width: 5px;
  background-clip: padding-box;
}
body .data {
  font-size: 16px;
  font-family: "Stardew Valley Stonks", serif;
  color: #000000;
}
body .data-info {
  font-size: 14px;
  font-family: "Stardew Valley Stonks", serif;
  color: #000000;
}
body .data-label {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.64);
  font-weight: 200;
}
body header {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.21);
  padding: 15px;
  gap: 10px;
}
body header .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header > span:first-of-type {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
body header .header img {
  width: 20px;
}
body header .sub-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .sub-header .all-money {
  display: flex;
  gap: 50px;
}
body header .sub-header img {
  width: 12px;
}
main {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 15px;
  gap: 25px 0;
}
main .section-title {
  font-size: 10px;
  font-family: "Stardew Valley Stonks", serif;
  font-weight: 400;
  color: #000000;
}
main .info-section {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}
main .info-section.general-stats {
  flex-basis: 100%;
}
main .info-section.general-stats div {
  display: flex;
  gap: 50px;
}
main .info-section.general-stats span {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
main .info-section.general-stats img {
  height: 20px;
}
main .info-section.skills {
  flex-basis: 45%;
}
main .info-section.skills .skill {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .info-section.skills .skill .level {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Stardew Valley Stonks", serif;
  color: #000000;
}
main .info-section.skills .skill .level-progress-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .info-section.skills .skill img {
  height: 20px;
}
main .info-section.skills .skill img.level-icon {
  height: 24px;
}
main .info-section.friends-section {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 14px;
  color: #000000;
  flex-basis: 55%;
}
main .info-section.friends-section > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
main .info-section.friends-section > span > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .info-section.friends-section > span .character-icon {
  width: 32px;
}
main .info-section.friends-section > span .hearts-level {
  display: flex;
  gap: 5px;
}
main .info-section.friends-section > span .hearts-level .hearts {
  width: 20px;
}
main .info-section.friends-section > span .gifts {
  display: flex;
  gap: 10px;
}
main .info-section.friends-section > span .gifts .gift {
  width: 20px;
}
main .info-section.friends-section > span .gifts .week {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.64);
  width: max-content;
}
main .info-section.friends-section > span .gifts .friend-status {
  font-size: 14px;
}
main .info-section.friends-section > span .view-all-friendships {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.64);
  align-self: flex-end;
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
main .info-section.friends-section.all-friends {
  display: none;
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 10vh;
  left: 10vw;
  padding: 10px 25px;
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.64);
  border-image: url('../../medias/images/content/border-image.png') 15 stretch;
  border-image-width: 10px;
  border-image-outset: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
main .info-section.friends-section.all-friends div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .info-section.friends-section.all-friends .exit-all-friendships {
  width: 32px;
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
main .info-section.friends-section.all-friends .section-title {
  font-size: 16px;
}
main .separated-galleries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px 0;
}
main .gallery {
  display: flex;
  flex-direction: column;
}
main .gallery:not(.shipped_items-section) {
  flex-basis: 47.5%;
}
main .gallery > span {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
main .gallery img {
  height: 24px;
}
main .gallery > span .not-found {
  filter: grayscale(1);
  opacity: 0.2;
}
