pre {
  background-color: #f3f3f3b8;
  padding: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
@font-face {
  font-family: 'Stardew Valley Stonks';
  src: url('../../medias/fonts/stardew_valley_stonks.ttf') format('truetype');
}
@font-face {
  font-family: 'Stardew Valley Regular';
  src: url('../../medias/fonts/stardew_valley_regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Stardew Valley ALL Caps';
  src: url('../../medias/fonts/stardew_valley_all_caps.ttf') format('truetype');
}
@font-face {
  font-family: 'SV Bold';
  src: url('../../medias/fonts/svbold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: url('../../medias/fonts/inter.ttf') format('truetype');
}
* {
  padding: 0;
  box-sizing: border-box;
  cursor: url("../../medias/images/cursors/cursor.cur"), auto;
}
html {
  background: #0A0523 url("../../medias/images/content/bg.png") no-repeat fixed center center / cover;
}
.center-absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
._50 {
  flex-basis: 47.5%;
}
._100 {
  flex-basis: 100%;
}
.grey {
  filter: grayscale(1);
  opacity: 0.2;
}
.not-found,
.not-gifted,
.not-talked,
.isnt_birthday,
.isnt_festival,
.topic_not_selected {
  filter: grayscale(1);
  opacity: 0.2;
}
.unused {
  filter: grayscale(1);
  opacity: 1;
}
.not-hide {
  display: block !important;
}
.no-spoil-title {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 16px;
  color: #000000;
  display: none;
  font-size: 14px;
}
.data {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 18px;
  color: #000000;
}
.buttons {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}
.buttons:hover {
  transform: scale(1.1);
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
.cant_select {
  user-select: none;
}
.modal-window,
.modal-opener,
.socials,
img,
.tooltip {
  user-select: none;
}
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.panel-title {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 18px;
  color: #000000;
}
.panel {
  background-clip: padding-box;
  overflow-y: scroll;
  z-index: 1000;
  scrollbar-width: none;
}
.absolute-panel {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffc677;
  border-image: url('../../medias/images/content/border_image.png') 15 stretch;
  border-image-width: 10px;
  border-image-outset: 8px;
  background-clip: padding-box;
  overflow-y: scroll;
  z-index: 1000;
  scrollbar-width: none;
}
.goal-panel {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../../medias/images/content/adventurers_guild_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-clip: padding-box;
  overflow-y: scroll;
  z-index: 1000;
  scrollbar-width: none;
}
.other-panel {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-clip: padding-box;
  overflow-y: scroll;
  z-index: 1000;
  scrollbar-width: none;
}
.data-info {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 16px;
  color: #000000;
}
.data-label {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.64);
  font-weight: 200;
}
.filled-element {
  background-color: #ffc677;
  border: solid 2px #a27845;
  border-image: url('../../medias/images/content/border_image.png') 15 stretch;
  border-image-width: 5px;
  border-image-outset: 2px;
  background-clip: padding-box;
}
.button-elements {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 18px;
  color: #000000;
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
  user-select: none;
}
.button-elements:hover {
  transform: scale(1.1);
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
.checkbox-elements {
  display: none;
}
.checkbox-elements ~ .checkmark {
  width: 20px;
  aspect-ratio: 1/1;
  border: solid 3px #5b2b2a;
  background-color: #ffc677;
}
.checkbox-elements ~ .checkmark img {
  width: 100%;
  display: none;
}
.checkbox-elements:checked ~ .checkmark img {
  display: block;
}
.exit {
  width: 28px;
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
.tooltip:hover {
  position: relative;
}
.tooltip span {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 18px;
  color: #000000;
  position: absolute;
  display: none !important;
  width: max-content;
  padding: 5px 7.5px;
  background-color: #ffc677;
  border-image: url('../../medias/images/content/border_image.png') 15 stretch;
  border-image-width: 2px;
  max-width: calc(100vw / 2);
}
.tooltip span.left {
  right: 100%;
}
.tooltip span.right {
  left: 100%;
}
.tooltip img,
.tooltip a {
  display: inline-block;
}
.tooltip img:hover,
.tooltip a:hover {
  cursor: url("../../medias/images/cursors/help.cur"), help;
}
.tooltip img:hover ~ span,
.tooltip a:hover ~ span {
  z-index: 100;
  display: inline !important;
}
.tooltip img:hover ~ span.left,
.tooltip a:hover ~ span.left {
  left: auto;
  right: 100%;
}
.tooltip img:hover ~ span.right,
.tooltip a:hover ~ span.right {
  left: 100%;
  right: auto;
}
.tooltip a {
  height: 28px;
}
.modal_panel {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 16px;
  color: #000000;
  position: fixed;
  padding: 25px 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffc677;
  border-image: url('../../medias/images/content/border_image.png') 15 stretch;
  border-image-width: 10px;
  border-image-outset: 8px;
  background-clip: padding-box;
  overflow-y: scroll;
  z-index: 1000;
  scrollbar-width: none;
  max-height: 80vh;
}
.upload-panel {
  display: none;
  font-family: "Stardew Valley Stonks", serif;
  font-size: 16px;
  color: #000000;
  position: fixed;
  padding: 25px 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffc677;
  border-image: url('../../medias/images/content/border_image.png') 15 stretch;
  border-image-width: 10px;
  border-image-outset: 8px;
  background-clip: padding-box;
  overflow-y: scroll;
  z-index: 1000;
  scrollbar-width: none;
  max-height: 80vh;
  min-width: 20vw;
}
.upload-panel > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: fit-content;
}
.upload-panel > span > span:first-of-type {
  display: flex;
  align-items: center;
  gap: 10px;
}
.upload-panel .section-title {
  font-size: 18px;
}
.upload-panel #browse-files {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 18px;
  color: #000000;
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
  user-select: none;
  background-color: #ffc677;
  border: solid 2px #a27845;
  border-image: url('../../medias/images/content/border_image.png') 15 stretch;
  border-image-width: 5px;
  border-image-outset: 2px;
  background-clip: padding-box;
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
  padding: 5px 10px;
}
.upload-panel #browse-files:hover {
  transform: scale(1.1);
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
.upload-panel #save-upload {
  display: none;
}
.settings-panel {
  display: none;
  font-family: "Stardew Valley Stonks", serif;
  font-size: 16px;
  color: #000000;
  position: fixed;
  padding: 25px 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffc677;
  border-image: url('../../medias/images/content/border_image.png') 15 stretch;
  border-image-width: 10px;
  border-image-outset: 8px;
  background-clip: padding-box;
  overflow-y: scroll;
  z-index: 1000;
  scrollbar-width: none;
  max-height: 80vh;
  min-width: 20vw;
}
.settings-panel .checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.settings-panel .checkboxes .checkbox {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.settings-panel .checkboxes .checkbox input {
  display: none;
}
.settings-panel .checkboxes .checkbox input ~ .checkmark {
  width: 20px;
  aspect-ratio: 1/1;
  border: solid 3px #5b2b2a;
  background-color: #ffc677;
}
.settings-panel .checkboxes .checkbox input ~ .checkmark img {
  width: 100%;
  display: none;
}
.settings-panel .checkboxes .checkbox input:checked ~ .checkmark img {
  display: block;
}
.feedback-panel {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 16px;
  color: #000000;
  position: fixed;
  padding: 25px 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffc677;
  border-image: url('../../medias/images/content/border_image.png') 15 stretch;
  border-image-width: 10px;
  border-image-outset: 8px;
  background-clip: padding-box;
  overflow-y: scroll;
  z-index: 1000;
  scrollbar-width: none;
  max-height: 80vh;
  min-width: 40vw;
}
.feedback-panel span form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.feedback-panel span form > span:first-of-type {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}
.feedback-panel span form .label_and_input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.feedback-panel span form .label_and_input.full_width {
  width: 100%;
}
.feedback-panel span form .label_and_input.stay_start {
  align-items: flex-start;
}
.feedback-panel span form .label_and_input textarea {
  resize: none;
}
.feedback-panel span form .label_and_input.mail_input {
  flex-grow: 1;
}
.feedback-panel span form .topic_selection {
  display: flex;
  justify-content: space-around;
}
.feedback-panel span form .topic_selection > span {
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.feedback-panel span form .topic_selection img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}
.feedback-panel span form input:not(input[type=submit]),
.feedback-panel span form textarea:not(input[type=submit]) {
  background-color: #ffc677;
  border-top: solid 3px #5b2b2a;
  border-right: solid 3px #5b2b2a;
  border-left: solid 3px #965c3a;
  border-bottom: solid 3px #965c3a;
  padding: 5px 5px;
  border-radius: 2px;
  box-shadow: inset -2px 2px 0 2px #dc7b05, -2px 2px 0 2px #cca36b;
  scrollbar-width: none;
  font-family: "SV Bold";
}
.feedback-panel span form input[type=submit] {
  margin: 0 auto;
  font-family: "Stardew Valley Stonks", serif;
  font-size: 18px;
  color: #000000;
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
  user-select: none;
  background-color: #ffc677;
  border: solid 2px #a27845;
  border-image: url('../../medias/images/content/border_image.png') 15 stretch;
  border-image-width: 5px;
  border-image-outset: 2px;
  background-clip: padding-box;
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
  padding: 5px 10px;
}
.feedback-panel span form input[type=submit]:hover {
  transform: scale(1.1);
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
.feedback-panel span form input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.feedback-panel span form input[type=number]::-webkit-outer-spin-button,
.feedback-panel span form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.feedback-panel span form input[type=radio] {
  display: none;
}
body #landing_page main {
  padding: 25px 50px;
}
body #landing_page main section > span.characters {
  font-size: 14px;
  flex-direction: row;
}
body #mobile_landing_page main section > span.characters {
  font-size: 12px;
  flex-direction: column;
}
body #landing_page main,
body #mobile_landing_page main {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 16px;
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
}
body #landing_page main h1.section-title,
body #mobile_landing_page main h1.section-title {
  margin-inline: auto;
  text-align: center;
  font-size: 24px;
  font-family: 'SV Bold';
  font-weight: 100;
  letter-spacing: 2px;
}
body #landing_page main a,
body #mobile_landing_page main a {
  text-decoration: underline;
  text-decoration-color: #ffc677;
  color: #ffc677;
}
body #landing_page main a:hover,
body #mobile_landing_page main a:hover {
  opacity: 0.7;
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
body #landing_page main code,
body #mobile_landing_page main code {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 16px;
  color: #000000;
  color: #6d6d6d;
}
body #landing_page main section > span,
body #mobile_landing_page main section > span {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body #landing_page main section > span.characters,
body #mobile_landing_page main section > span.characters {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  margin-top: 25px;
}
body #landing_page main section > span.characters > span,
body #mobile_landing_page main section > span.characters > span {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}
body #landing_page main section > span.characters > span > span,
body #mobile_landing_page main section > span.characters > span > span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body #landing_page main section > span.characters .character-image,
body #mobile_landing_page main section > span.characters .character-image {
  width: 50px;
}
body #landing_page main section > span.characters .character-image.romain,
body #mobile_landing_page main section > span.characters .character-image.romain {
  aspect-ratio: 1/2.13;
}
body #landing_page main section > span.characters .character-image.nico,
body #mobile_landing_page main section > span.characters .character-image.nico {
  aspect-ratio: 1/1.99;
}
body #landing_page main section > span.characters .character-presentation,
body #mobile_landing_page main section > span.characters .character-presentation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
}
body #landing_page main section > span.characters .socials,
body #mobile_landing_page main section > span.characters .socials {
  display: flex;
  gap: 10px;
}
body #landing_page main section > span.characters .socials img,
body #mobile_landing_page main section > span.characters .socials img {
  width: 28px;
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
body #landing_page main section.about,
body #mobile_landing_page main section.about {
  display: flex;
  flex-direction: column;
}
body #landing_page main .section-title,
body #mobile_landing_page main .section-title {
  font-weight: 600;
}
body #landing_page main .img-embed,
body #mobile_landing_page main .img-embed {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
  margin-bottom: -25px;
}
body #landing_page main .img-embed img,
body #mobile_landing_page main .img-embed img {
  position: absolute;
  width: 28px;
  margin-top: -15px;
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
body .loading {
  display: none;
  position: fixed;
  height: 50px;
  left: 25px;
  bottom: 10px;
}
body .error-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
body .error-wrapper .dialogue-box-error-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
body .error-wrapper .dialogue-box-error-container span {
  position: absolute;
  width: 57%;
  font-family: "SV Bold";
  color: #561000;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 1.4;
  top: 25px;
  left: 25px;
  padding: 5px;
}
.sur-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 20px;
}
.sur-header#landing_menu,
.sur-header#error_menu {
  justify-content: flex-end;
  gap: 10px;
}
.sur-header #players_selection {
  margin: 0;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px 10px;
  list-style-type: none;
}
.sur-header #players_selection li {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 18px;
  color: #000000;
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
  user-select: none;
  background-color: #ffc677;
  border: solid 2px #a27845;
  border-image: url('../../medias/images/content/border_image.png') 15 stretch;
  border-image-width: 5px;
  border-image-outset: 2px;
  background-clip: padding-box;
  padding: 5px 5px;
}
.sur-header #players_selection li:hover {
  transform: scale(1.1);
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
.sur-header > span {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.sur-header > span .game_version {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 16px;
  color: #ffffff;
}
.sur-header > span .modal-opener {
  display: flex;
}
.sur-header > span .landing-page-opener {
  display: flex;
  aspect-ratio: 1/1;
}
.sur-header > span img {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 18px;
  color: #000000;
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
  user-select: none;
  width: 40px;
}
.sur-header > span img:hover {
  transform: scale(1.1);
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
header {
  display: flex;
  flex-direction: column;
  background-color: rgba(187, 187, 187, 0.6);
  border-radius: 5px 5px 0 0;
  padding: 10px 25px;
  gap: 10px;
}
header .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header > span {
  flex-basis: 33%;
}
header .header > span.date {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .header > span.game_time {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
header .header > span:first-of-type {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
header .header img {
  width: 24px;
}
header .sub-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .sub-header .all-money {
  display: flex;
  gap: 50px;
}
header .sub-header .all-money img {
  height: 16px;
}
header .sub-header .perfection-stats {
  display: flex;
  gap: 50px;
}
header .sub-header .perfection-stats img {
  height: 24px;
}
::selection,
moz::selection {
  color: #ffffff;
  background: #8a5306;
}
body {
  margin: 5vh 10vw;
}
body main {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 0 5px 5px;
  padding: 5px 25px;
  gap: 25px 0;
}
body main section:not(.general-stats) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body main .section-title {
  font-size: 14px;
  font-family: "Stardew Valley Stonks", serif;
  font-weight: 400;
  color: #000000;
  align-self: flex-start;
  margin-bottom: 0;
}
body main .info-section {
  justify-content: flex-start;
  width: fit-content;
}
body main .info-section.general-stats {
  position: relative;
  flex-basis: 100%;
}
body main .info-section.general-stats div {
  display: flex;
  gap: 10px 50px;
  flex-wrap: wrap;
}
body main .info-section.general-stats span {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
body main .info-section.general-stats img {
  height: 28px;
}
body main .info-section.general-stats img.quest-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
body main .info-section.skills-section .skill {
  display: flex;
  align-items: center;
  gap: 10px;
}
body main .info-section.skills-section .skill div {
  display: flex;
  gap: 10px;
}
body main .info-section.skills-section .skill .level {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}
body main .info-section.skills-section .skill .level-progress-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}
body main .info-section.skills-section .skill img {
  height: 24px;
}
body main .info-section.skills-section .skill img.level-icon {
  height: 28px;
}
body main .info-section.quests-section {
  display: none;
  font-family: "Stardew Valley Stonks", serif;
  font-size: 16px;
  color: #000000;
  position: fixed;
  min-width: 30vw;
  max-height: 80vh;
  padding: 25px 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffc677;
  border-image: url('../../medias/images/content/border_image.png') 15 stretch;
  border-image-width: 10px;
  border-image-outset: 8px;
  background-clip: padding-box;
  overflow-y: scroll;
  z-index: 1000;
  scrollbar-width: none;
}
body main .info-section.quests-section .section-title {
  margin: 0;
}
body main .info-section.quests-section .quests {
  display: flex;
  flex-direction: column;
  gap: 25px;
  white-space: nowrap;
}
body main .info-section.quests-section .quests .quest {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
body main .info-section.quests-section .quests .quest > span {
  justify-content: center;
  gap: 5px;
}
body main .info-section.quests-section .quests .quest .quest-infos {
  display: flex;
  flex-direction: column;
  width: 500px;
}
body main .info-section.quests-section .quests .quest .quest-infos .quest-description {
  font-size: 18px;
}
body main .info-section.quests-section .quests .quest .quest-infos .quest-title {
  font-style: italic;
}
body main .info-section.quests-section .quests .quest .days-left {
  display: flex;
  align-items: center;
}
body main .info-section.quests-section .quests .quest .quest-rewards {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  width: 100px;
}
body main .info-section.quests-section .quests .quest .quest-rewards .quest-reward {
  display: flex;
  align-items: center;
  gap: 2.5px;
}
body main .info-section.quests-section .quests .quest img {
  width: 20px;
}
body main .info-section.quests-section .section-title {
  font-size: 18px;
}
body main .info-section.friends-section > .has_panel {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
body main .info-section.friends-section > .has_panel .view-all-friends {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.64);
  height: fit-content;
  align-self: flex-end;
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
body main .info-section.friends-section > .friendlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
body main .info-section.friends-section > .friendlist > span {
  display: flex;
  align-items: center;
}
body main .info-section.friends-section > .friendlist .character-icon {
  cursor: url("../../medias/images/cursors/help.cur"), help;
  width: 40px;
}
body main .info-section.friends-section > .friendlist .character-name {
  width: 90px;
  font-family: "Stardew Valley Stonks", serif;
}
body main .info-section.friends-section > .friendlist .hearts-level {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  max-width: 245px;
}
body main .info-section.friends-section > .friendlist .hearts-level .hearts {
  width: 20px;
}
body main .info-section.friends-section > .friendlist .birthday_icon {
  width: 24px;
}
body main .info-section.friends-section > .friendlist .interactions {
  display: flex;
  align-items: center;
  gap: 25px;
}
body main .info-section.friends-section > .friendlist .interactions > span {
  display: flex;
  gap: 10px;
}
body main .info-section.friends-section > .friendlist .interactions .interaction {
  width: 24px;
}
body main .info-section.friends-section > .friendlist .interactions .gift-counter {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 18px;
  color: #000000;
}
body main .info-section.friends-section > .friendlist .interactions .week {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.64);
  width: max-content;
}
body main .info-section.friends-section > .friendlist .friend-status {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 18px;
  color: #000000;
  font-size: 16px;
}
body main .info-section.friends-section.top-friends > span > span {
  justify-content: space-between;
}
body main .info-section.friends-section.all-friends {
  display: none;
  position: fixed;
  height: 80vh;
  padding: 10px 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffc677;
  border-image: url('../../medias/images/content/border_image.png') 15 stretch;
  border-image-width: 10px;
  border-image-outset: 8px;
  background-clip: padding-box;
  overflow-y: scroll;
  z-index: 1000;
  scrollbar-width: none;
}
body main .info-section.friends-section.all-friends > span > span {
  gap: 50px;
}
body main .info-section.friends-section.all-friends .section-title {
  font-size: 18px;
}
body main .info-section.monster-eradication-goals-section {
  display: none;
  font-family: "SV Bold";
  font-size: 24px;
  color: #814737;
  position: fixed;
  min-width: 60vw;
  aspect-ratio: 1.79;
  padding: 25px 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../../medias/images/content/adventurers_guild_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-clip: padding-box;
  overflow-y: scroll;
  z-index: 1000;
  scrollbar-width: none;
}
body main .info-section.monster-eradication-goals-section > * {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body main .info-section.monster-eradication-goals-section > .header {
  position: relative;
}
body main .info-section.monster-eradication-goals-section > .header > .title {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  letter-spacing: 3px;
}
body main .info-section.monster-eradication-goals-section > .header > .dashes {
  width: 507px;
}
body main .info-section.monster-eradication-goals-section > .header > .exit {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
}
body main .info-section.monster-eradication-goals-section > .goals {
  margin-top: 10px;
  margin-left: 15px;
}
body main .info-section.monster-eradication-goals-section > .goals > .goal {
  display: flex;
  align-items: center;
  gap: 10px;
}
body main .info-section.monster-eradication-goals-section > .goals > .goal > *:not(.tooltip) {
  font-weight: 900;
  letter-spacing: 3px;
}
body main .info-section.monster-eradication-goals-section > .goals > .goal img.reward {
  width: 28px;
  height: 28px;
  object-fit: contain;
}
body main .info-section.calendar-section {
  display: none;
  position: fixed;
  width: 960px;
  aspect-ratio: 1.43;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-clip: padding-box;
  overflow-y: scroll;
  z-index: 1000;
  scrollbar-width: none;
}
body main .info-section.calendar-section > .calendar-block {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
body main .info-section.calendar-section > .calendar-block > img {
  position: absolute;
  width: 100%;
  height: 100%;
}
body main .info-section.calendar-section > .calendar-block > table {
  position: absolute;
  border-collapse: collapse;
  top: 130px;
  left: 34px;
  width: fit-content;
  height: fit-content;
}
body main .info-section.calendar-section > .calendar-block > table > tbody > tr {
  display: block;
  width: fit-content;
  height: 128px;
}
body main .info-section.calendar-section > .calendar-block > table > tbody > tr > td {
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  width: 128px;
  height: 128px;
}
body main .info-section.calendar-section > .calendar-block > table > tbody > tr > td:hover {
  border: solid 2px blue;
}
body main .info-section.calendar-section > .calendar-block > table > tbody > tr > td > div {
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
}
body main .info-section.calendar-section > .calendar-block > table > tbody > tr > td > div > a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
body main .info-section.calendar-section > .calendar-block > table > tbody > tr > td.simple-event > div {
  display: block;
  width: 100%;
}
body main .info-section.calendar-section > .calendar-block > table > tbody > tr > td.double-event > div {
  display: inline-block;
  width: 45%;
}
body main .separated-galleries {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px 0;
}
body main .gallery {
  display: flex;
  flex-direction: column;
}
body main .gallery > span {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
body main .gallery > .has_panel .view-monster-eradication-goals {
  font-family: "Stardew Valley Stonks", serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.64);
  align-self: flex-end;
  cursor: url("../../medias/images/cursors/pointer.cur"), pointer;
}
body main .gallery img {
  height: 28px;
  min-width: 28px;
  object-fit: contain;
}
body main .gallery img.enemies {
  width: 28px !important;
}
body main > :last-child {
  margin-bottom: 25px;
}
