// out: false

// Center absolute
.center-absolute() {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

// Items not found
.not-found {
	filter: grayscale(1);
	opacity: 0.2;
}

// Basic classes
.data {
	font-family: @primary-ff;
	font-size: @big-fs * @ratio;
	color: @primary-fc;
}

.buttons {
	transition: transform .2s ease-in-out;
	&:hover {
		transform: scale(1.1);
	}
}

// Data classes
.data-info {
	font-family: @primary-ff;
	font-size: @md-fs * @ratio;
	color: @primary-fc;
}

.data-label {
	font-family: @secondary-ff;
	font-size: @small-fs * @ratio;
	color: @secondary-fc;
	font-weight: 200;
}

.button-elements {
	.data;
	.buttons;
}

// Tooltips
.tooltip {
	&:hover {
		position: relative;
	}

	span {
		.data;
		position: absolute;
		display: none;
		width: max-content;
		width: max-content;
		// max-width: 150px;
		padding: 5px 7.5px;
		background-color: @stardew-bg;
		border-image: url('../../medias/images/content/border_image.png') 15 stretch;
		border-image-width: 2px;
	}

	img {
		&:hover {
			cursor: @help;
			& ~ span {
				z-index: 100;
				display: inline;
			}
		}
	}
}