// out: false

.sur-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 20px;

	#player_selection {
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: (@small-gap * @ratio) (@md-gap * @ratio);
		list-style-type: none;

		li {
			padding: (extract(@button-gaps, 1) * @ratio) (extract(@button-gaps, 2) * @d-ratio);
			background-color: @stardew-bg;
			border: solid 2px rgba(162, 120, 69, 1);
			border-image: url('../../medias/images/content/border_image.png') 15 stretch;
			border-image-width: 5px;
			border-image-outset: 2px;
			background-clip: padding-box;
		}
	}

	& > span {
		display: flex;
		gap: (@md-gap * @ratio);

		.game_version {
			font-family: @primary-ff;
			font-size: @md-fs * @ratio;
			color: @third-fc;
			align-self: flex-end;
		}

		.upload-file {
			cursor: @pointer;
			padding: (extract(@button-gaps, 1) * @ratio) (extract(@button-gaps, 2) * @ratio);
			background-color: @stardew-bg;
			border: solid 2px rgba(162, 120, 69, 1);
			border-image: url('../../medias/images/content/border_image.png') 15 stretch;
			border-image-width: 5px;
			border-image-outset: 2px;
			background-clip: padding-box;
		}
	}

}

.upload-panel {
	display: none;

	font-family: @primary-ff;
	font-size: (@md-fs * @ratio);
	color: @primary-fc;

	position: fixed;
	min-width: 20vw;
	padding: (@big-gap * @ratio) (@big-gap * @ratio);
	.absolute-panel;
	
	& > div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: (@big-gap * @ratio);
	}

	& > span {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: (@big-gap * @ratio);

		& > span {
			&:first-of-type {
				display: flex;
				align-items: center;
				gap: (@md-gap * @ratio);
			}
		}
	}

	.section-title {
		font-size: (@big-fs * @ratio);
	}

	label {
		cursor: @pointer;
		padding: (extract(@button-gaps, 1) * @ratio) (extract(@button-gaps, 2) * @ratio);
		background-color: @stardew-bg;
		border: solid 2px rgba(162, 120, 69, 1);
		border-image: url('../../medias/images/content/border_image.png') 15 stretch;
		border-image-width: 5px;
		border-image-outset: 2px;
		background-clip: padding-box;
	}

	#save-upload, #no-spoil-mode {
		display: none;
	}
}

header {
	display: flex;
	flex-direction: column;
	background-color: @primary-bg;
	border-radius: 5px 5px 0 0;
	padding: (@md-gap * @ratio) (@big-gap * @ratio);
	gap: (@md-gap * @ratio);

	.header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > span:first-of-type {
			display: flex;
			align-items: flex-end;
			gap: (@md-gap * @ratio);
		}

		img {
			width: (@md-icon * @ratio);
		}
	}

	.sub-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.all-money {
			display: flex;
			gap: (@bigger-gap * @ratio);
		}

		img {
			width: (@xsmall-icon * @ratio);
		}
	}
}