// out: false

body {
	// background-color: @secondary-bg;
	position: relative;

	main {
		background-color: @secondary-bg;
		display: flex;
		flex-wrap: wrap;
		border-radius: 0 0 5px 5px;
		padding: (@small-gap * @ratio) (@big-gap * @ratio);
		gap: (@big-gap * @ratio) 0;
	
		section {
			&:not(.general-stats) {
				display: flex;
				flex-direction: column;
				gap: (@md-gap * @ratio);
			}
		}
		
		.section-title {
			font-size: (@md-fs * @ratio);
			font-family: @primary-ff;
			font-weight: 400;
			color: @primary-fc;
			align-self: flex-start;
		}
	
		.info-section {
			justify-content: flex-start;
	
			&.general-stats {
				position: relative;
				flex-basis: 100%;
	
				div {
					display: flex;
					gap: (@bigger-gap * @ratio);
				}
				
				span {
					display: flex;
					align-items: flex-end;
					gap: (@small-gap * @ratio);
				}
				
				img {
					height: (@big-icon * @ratio);
					&.quest-icon {
						position: absolute;
						top: 0;
						right: 0;
						cursor: @pointer;
					}
				}
			}
	
			&.skills-section {
				.skill {
					display: flex;
					align-items: center;
					gap: (@md-gap * @ratio);

					div {
						display: flex;
  						gap: (@md-gap * @ratio);
					}
	
					.level {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 20px;
					}
	
					.level-progress-bar {
						display: flex;
						align-items: center;
						gap: (@small-gap * @ratio);
					}
	
					img {
						height: (@md-icon * @ratio);
						&.level-icon {
							height: (@big-icon * @ratio);
						}
					}
				}
			}

			&.quests-section {
				display: none;

				font-family: @primary-ff;
				font-size: (@md-fs * @ratio);
				color: @primary-fc;
		
				position: fixed;
				max-height: 80vh;
				padding: (@big-gap * @ratio) (@big-gap * @ratio);
				.center-absolute();

				background-clip: padding-box;
				background-color: @stardew-bg;
				border-image: url('../../medias/images/content/border_image.png') 15 stretch;
				border-image-width: 10px;
				border-image-outset: 8px;

				overflow-y: scroll;
				// 1000 -> Au dessus de tout / 998 Laisse le tooltip passer par dessus
				z-index: 1000;
				scrollbar-width: none;

				.section-title {
					margin: 0;
				}

				.quests {
					display: flex;
					flex-direction: column;
					gap: (@big-gap * @ratio);

					.quest {
						display: flex;
						justify-content: space-between;
						gap: (@big-gap * @ratio);

						& > span {
							justify-content: center;
							gap: (@small-gap * @ratio);
						}

						.quest-infos {
							display: flex;
							flex-direction: column;

							.quest-description {
								font-size: (@big-fs * @ratio);
							}

							.quest-title {
								font-style: italic;
							}
						}

						.days-left {
							display: flex;
							align-items: center;
						}

						.quest-rewards {
							display: flex;
							flex-direction: column;
							align-items: flex-end;

							.quest-reward {
								display: flex;
								align-items: center;
							}
						}

						img {
							width: (@small-icon * @ratio);
						}
					}
				}

				div {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: (@big-gap * @ratio);
				}
	
				.section-title {
					font-size: (@big-fs * @ratio);
				}
			}
	
			&.friends-section {
				& > span {
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: (@md-gap * @ratio);
	
					& > span {
						display: flex;
						align-items: center;
						// gap: (@bigger-gap * @ratio);
					}
	
	
					.character-icon {
						width: (@bigger-icon * @ratio);
					}
	
					.hearts-level {
						display: flex;
						gap: (@small-gap * @ratio);
						.hearts {
							width: (@small-icon * @ratio);
						}
					}
					.interactions {
						display: flex;
						align-items: center;
						gap: (@big-gap * @ratio);
						
						.interaction {
							width: (@md-icon * @ratio);
						}

						.gift-counter {
							.data;
						}
	
						.week {
							font-family: @secondary-ff;
							font-size: (@small-fs * @ratio);
							color: @secondary-fc;
							width: max-content;
						}
					}
	
					.friend-status {
						.data;
						font-size: (@md-fs * @ratio);
					}
	
					.view-all-friendships {
						font-family: @primary-ff;
						// font-size: (@md-fs * @ratio);
						font-size: (@small-fs * @ratio);
						color: @secondary-fc;
						align-self: flex-end;
						cursor: @pointer;
					}
				}
	
				&.top-friends {
					& > span {
						& > span {
							justify-content: space-between;
						}
					}
				}
	
				&.all-friends {
					display: none;
		
					position: fixed;
					height: 80vh;
					padding: (@md-gap * @ratio) (@big-gap * @ratio);
					.center-absolute();
	
					background-clip: padding-box;
					background-color: @stardew-bg;
					border-image: url('../../medias/images/content/border_image.png') 15 stretch;
					border-image-width: 10px;
					border-image-outset: 8px;
	
					overflow-y: scroll;
					// 1000 -> Au dessus de tout / 998 Laisse le tooltip passer par dessus
					z-index: 1000;
					scrollbar-width: none;
	
					& > span {
						& > span {
							gap: (@bigger-gap * @ratio);
						}
					}
	
					div {
						display: flex;
						justify-content: space-between;
						align-items: center;
					}
		
					.section-title {
						font-size: (@big-fs * @ratio);
					}
				}
			}
		}
	
		.separated-galleries {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: (@big-gap * @ratio) 0;
		}
	
		.gallery {
			display: flex;
			flex-direction: column;

			&.unlockables-section {
				& > span {
					gap: (@big-gap * @ratio);
				}
			}
	
			&.monsters-section {
				justify-content: space-between;
				& > span {
					gap: (@md-gap * @ratio);
				}
			}
	
			& > span {
				display: flex;
				flex-wrap: wrap;
				gap: (@small-gap * @ratio);
			}
	
			img {
				height: (@big-icon * @ratio);
			}
		}
	
		& > :last-child {
			margin-bottom: (@bigger-gap * @ratio);
		}
	}
}