// out: false

::selection, moz::selection {
	color: @text-selection-fc;
	background: @text-selection-bg;
}

body {
	margin: 5vh 10vw;

	main {
		background-color: @secondary-bg;
		display: flex;
		flex-wrap: wrap;
		border-radius: 0 0 5px 5px;
		padding: @small-gap @big-gap;
		gap: @big-gap 0;
	
		section {
			&:not(.general-stats) {
				display: flex;
				flex-direction: column;
				gap: @md-gap;
			}
		}
		
		.section-title {
			font-size: @small-fs;
			font-family: @primary-ff;
			font-weight: 400;
			color: @primary-fc;
			align-self: flex-start;
			margin-bottom: 0;
		}
	
		.info-section {
			justify-content: flex-start;
			min-width: fit-content;
			
			&.general-stats {
				position: relative;
				flex-basis: 100%;
	
				div {
					display: flex;
					gap: @md-gap @bigger-gap;
					flex-wrap: wrap;
				}
				
				span {
					display: flex;
					align-items: flex-end;
					gap: @small-gap;
				}
				
				img {
					height: @big-icon;
					&.quest-icon {
						position: absolute;
						top: 0;
						right: 0;
						cursor: @pointer;
					}
				}
			}
	
			&.skills-section {
				.skill {
					display: flex;
					align-items: center;
					gap: @md-gap;

					div {
						display: flex;
  						gap: @md-gap;
					}
	
					.level {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 20px;
					}
	
					.level-progress-bar {
						display: flex;
						align-items: center;
						gap: @small-gap;
					}
	
					img {
						height: @md-icon;
						&.level-icon {
							height: @big-icon;
						}
					}
				}
			}

			&.quests-section {
				display: none;

				font-family: @primary-ff;
				font-size: @md-fs;
				color: @primary-fc;
		
				position: fixed;
				min-width: 30vw;
				max-height: 80vh;
				padding: @big-gap @big-gap;
				.absolute-panel;

				.section-title {
					margin: 0;
				}

				.quests {
					display: flex;
					flex-direction: column;
					gap: @big-gap;
					white-space: nowrap;

					.quest {
						display: flex;
						justify-content: space-between;
						gap: @bigger-gap * 2;

						& > span {
							justify-content: center;
							gap: @small-gap;
						}

						.quest-infos {
							display: flex;
							flex-direction: column;
							width: 500px;

							.quest-description {
								font-size: @big-fs;
							}

							.quest-title {
								font-style: italic;
							}
						}

						.days-left {
							display: flex;
							align-items: center;
						}

						.quest-rewards {
							display: flex;
							justify-content: flex-end;
							gap: @big-gap;
							width: 100px;

							.quest-reward {
								display: flex;
								align-items: center;
								gap: @xsmall-gap;
							}
						}

						img {
							width: @small-icon;
						}
					}
				}
	
				.section-title {
					font-size: @big-fs;
				}
			}
	
			&.friends-section {
				& > .has_panel {
					display: flex;
					flex-wrap: wrap;
					gap: @small-gap;

					.view-all-friends {
						font-family: @primary-ff;
						font-size: @xsmall-fs;
						color: @secondary-fc;
						height: fit-content;
						align-self: flex-end;
						cursor: @pointer;
					}
				}

				& > .friendlist {
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: @md-gap;
	
					& > span {
						display: flex;
						align-items: center;
						// gap: @bigger-gap;
					}
	
	
					.character-icon {
						cursor: @help;
						width: @bigger-icon;
					}

					.character-name {
						min-width: 75px;
						font-family: @primary-ff;
					}
	
					.hearts-level {
						display: flex;
						gap: @small-gap;
						flex-wrap: wrap;
						min-width: fit-content;
						max-width: 245px;
					
						.hearts {
							width: @small-icon;
						}
					}

					.birthday_icon {
						width: @md-icon;
					}

					.interactions {
						display: flex;
						align-items: center;
						gap: @big-gap;

						& > span {
							display: flex;
							gap: @md-gap;
						}
						
						.interaction {
							width: @md-icon;
						}

						.gift-counter {
							.data;
						}
	
						.week {
							font-family: @secondary-ff;
							font-size: @xsmall-fs;
							color: @secondary-fc;
							width: max-content;
						}
					}
	
					.friend-status {
						.data;
						font-size: @md-fs;
					}
				}
	
				&.top-friends {

					& > .friendlist {
						& > span {
							justify-content: space-between;
							gap: @md-gap;

							.character-name {
								text-align: center;
							}
						}
					}
				}
	
				&.all-friends {
					display: none;
		
					position: fixed;
					height: 80vh;
					padding: @md-gap @big-gap;
					.absolute-panel;
	
					& > span {
						& > span {
							gap: @bigger-gap;
						}
					}
		
					.section-title {
						font-size: @big-fs;
					}
				}
			}

			&.monster-eradication-goals-section {
				display: none;

				font-family: @dialogue-ff;
				font-size: @giant-fs;
				color: @goal-fc;
		
				position: fixed;
				min-width: 60vw;
				aspect-ratio: 1.79;
				padding: @big-gap @big-gap;
				.goal-panel;

				& > * {
					display: flex;
					flex-direction: column;
					gap: @md-gap;
				}

				& > .header {
					position: relative;

					& > .title {
						display: flex;
						flex-direction: column;
						font-weight: 900;
						letter-spacing: 3px;
					}

					& > .dashes {
						// 30 dashes
						width: 30 * 14px + 29 * 3px;
					}

					& > .exit {
						position: absolute;
						top: @md-gap;
						right: @md-gap;
						width: @big-icon;
					}
				}

				& > .goals {
					margin-top: @md-gap;
					margin-left: @md-gap + @small-gap;

					& > .goal {
						display: flex;
						align-items: center;
						gap: @md-gap;

						& > *:not(.tooltip) {
							font-weight: 900;
							letter-spacing: 3px;
						}

						& img.reward {
							width: @big-icon;
							height: @big-icon;
							object-fit: contain;
						}

						// & > .star {
						// 	align-self: flex-start;
						// }
					}
				}
			}

			&.calendar-section {
				display: none;
				position: fixed;
				width: (480px * 2);
				aspect-ratio: 1.43;
				.other-panel;
				
				& > .calendar-block {
					position: relative;
					display: block;
					width: 100%;
					height: 100%;

					& > img {
						position: absolute;
						width: 100%;
						height: 100%;
					}

					& > table {
						position: absolute;
						border-collapse: collapse;
						top: ((64px + (2px / 2)) * 2);
						left: ((16px + (2px / 2)) * 2);
						width: fit-content;
						height: fit-content;
						
						& > tbody > tr {
							display: block;
							width: fit-content;
							height: (64px * 2);

							& > td {
								box-sizing: border-box;
								text-align: center;
								padding: 0;
								width: (64px * 2);
								height: (64px * 2);

								&:hover {
									border: solid 2px blue;
								}

								& > div {
									height: 100%;
									margin: 0 auto;
									vertical-align: middle;



									& > a {
										display: block;
										width: 100%;
										height: 100%;
										cursor: @pointer;
									}


								}
							}

							& > td.simple-event {
								& > div {
									display: block;
									width: 100%;
								}
							}

							& > td.double-event {
								& > div {
									display: inline-block;
									width: 45%;
								}
							}
						}
					}
				}
			}
		}
	
		.separated-galleries {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: @big-gap 0;
		}
	
		.gallery {
			display: flex;
			flex-direction: column;
	
			& > span {
				display: flex;
				flex-wrap: wrap;
				gap: @small-gap;
			}

			& > .has_panel {
				.view-monster-eradication-goals {
					font-family: @primary-ff;
					font-size: @xsmall-fs;
					color: @secondary-fc;
					align-self: flex-end;
					cursor: @pointer;
				}
			}
	
			img {
				height: @big-icon;
				min-width: @big-icon;
				&.enemies {
					width: @big-icon !important;
				}
				object-fit: contain;
			}
		}
	
		& > :last-child {
			margin-bottom: @big-gap;
		}
	}
}


// Easter eggs

.fullscreen-image {
	position: fixed;
    top: 0;
    left: -40vw;
    width: 180vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1000;
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
}

.fullscreen-image.show {
    opacity: 1;
}