// out: false

// Desktop changes
.desktop-changes() {
	body {
		margin: 5vh 10vw;

		.sur-header {
			#players_selections {
				width: 70%;
			}
		}
	
		main {
			.info-section {
				width: fit-content;
				&:not(.general-stats) {
					&.skills-section, &.friends-section.top-friends {
						flex-basis: 45%;
					}
					flex-basis: 50%;
				}
			}
		}
	}
}