// out: false

// Debugger
pre {
    background-color: #f3f3f3b8;
	border-radius: 5px;
    overflow: hidden;
    padding: @big-gap;
    text-overflow: ellipsis;
}

// Center absolute
.center-absolute {
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

// Gallery items
._50 {
	flex-basis: 47.5%;
}

._100 {
	flex-basis: 100%;
}

.grey {
	filter: grayscale(1);
	opacity: 0.2;
}

.not-found, .not-gifted, .not-talked, .isnt_birthday, .isnt_festival, .topic_not_selected, .not-petted {
	.grey;
}

.unused {
	filter: grayscale(1);
	opacity: 1;
}

.not-hide {
	display: block !important;
}

.no-spoil-title {
	.data-info;
	display: none;
	font-size: @small-fs;
}

// Basic classes
.data {
	color: @primary-fc;
	font-family: @primary-ff;
	font-size: @big-fs;
}

.buttons {
	transform: scale(1);
	transition: transform .2s ease-in-out;

	&:hover {
		cursor: @pointer;
		transform: scale(1.1);
	}
}

.cant_select {
	user-select: none;
}

.modal-window, .modal-opener, .socials, img, .tooltip {
	.cant_select;
}
	
.panel-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: @big-gap;
}
	
.panel-title {
	.data;
}

.panel {
	background-clip: padding-box;
	overflow-y: scroll;
	scrollbar-width: none;
	// 1000 -> Au dessus de tout / 998 Laisse le tooltip passer par dessus
	z-index: 1000;
}

.absolute-panel {
	.center-absolute;
	.panel;
	background-color: @stardew-bg;
	border-image: url("../../medias/images/content/border_image.png") 15 stretch;
	border-image-outset: 8px;
	border-image-width: 10px;
}

.goal-panel {
	.center-absolute;
	.panel;
	background-image: url("../../medias/images/content/adventurers_guild_background.png");
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
    box-sizing: border-box;
}

.other-panel {
	.center-absolute;
	.panel;
}

// Data classes
.data-info {
	color: @primary-fc;
	font-family: @primary-ff;
	font-size: @md-fs;
}

.data-label {
	color: @secondary-fc;
	font-family: @secondary-ff;
	font-size: @xsmall-fs;
	font-weight: 200;
	text-transform: lowercase;
}

.filled-element {	
	background-color: @stardew-bg;
	background-clip: padding-box;
	border: solid 2px @filled-element-bc;
	border-image: url("../../medias/images/content/border_image.png") 15 stretch;
	border-image-outset: 2px;
	border-image-width: 5px;
}

.button-elements {
	.buttons;
	.cant_select;
	.data;
}

.checkbox-elements {
	display: none;

	& ~ .checkmark {
		aspect-ratio: 1/1;
		background-color: @stardew-bg;
		border: solid 3px @checkboxes-bc;
		width: @small-icon;

		img {
			display: none;
			width: 100%;
		}
	}

	&:checked {
		& ~ .checkmark {
			img {
				display: block;
			}
		}
	}
}

.exit {
	cursor: @pointer;
	width: @big-icon;
}

// Wiki links 
.wiki_link {
	text-decoration: none;
}

// Tooltips
.tooltip {
    &:hover {
        position: relative;
    }

    span {
        .data;
        background-color: @stardew-bg;
        border-image: url("../../medias/images/content/border_image.png") 15 stretch;
        border-image-width: 2px;
        display: none !important;
		max-width: calc(100vw / 2);
        padding: 5px 7.5px;
        position: absolute;
        width: max-content;

        &.left {
            right: 100%;
        }

        &.right {
            left: 100%;
        }
    }

	img, a {
		display: inline-block;

        &:hover {
            cursor: @help;

            & ~ span {
                display: inline !important;
                z-index: 100;

               	&.left {
               	    left: auto;
               	    right: 100%;
               	}

               	&.right {
               	    left: 100%;
               	    right: auto;
               	}
            }
        }
    }

	a {
		height: @big-icon;
	}
}

.modal_panel {
	.absolute-panel;
	color: @primary-fc;
	font-family: @primary-ff;
	font-size: @md-fs;
	max-height: 80vh;
	padding: @big-gap @big-gap;
	position: fixed;
}

.upload-panel {
	.modal_panel;
	display: none;
	min-width: 20vw;

	& > span {
		display: flex;
		flex-direction: column;
		gap: @big-gap;
		justify-content: center;
		width: fit-content;

		& > span {
			&:first-of-type {
				align-items: center;
				display: flex;
				gap: @md-gap;
			}
		}
	}

	.section-title {
		font-size: @big-fs;
	}

	#browse-files {
		.button-elements;
		.filled-element;
		cursor: @pointer;
		padding: (extract(@button-gaps, 1) * @ratio) (extract(@button-gaps, 2) * @ratio);
	}

	#save-upload {
		display: none;
	}
}

.settings-panel {
	.modal_panel;
	display: none;
	min-width: 20vw;

	.checkboxes {
		display: flex;
		flex-direction: column;
		gap: @md-gap;
		justify-content: center;

		.checkbox {
			align-items: flex-end;
			display: flex;
			gap: @md-gap;

			input {
				.checkbox-elements;
			}
		}
	}
}

.feedback-panel {
	.modal_panel;
	min-width: 40vw;

	span {
		form {
			align-items: flex-start;
			display: flex;
			gap: @big-gap;
			flex-direction: column;

			& > span {
				&:first-of-type {
					display: flex;
					gap: @bigger-gap;
					justify-content: space-between;
					width: 100%;
				}
			}
				
			.label_and_input {
				display: flex;
				flex-direction: column;
				gap: @small-gap;

				&.full_width {
					width: 100%;
				}

				&.stay_start {
					align-items: flex-start;
				}
			
				textarea {
					resize: none;
				}

				&.mail_input {
					flex-grow: 1;
				}
			}

			.topic_selection {
				display: flex;
				justify-content: space-around;
				
				& > span {
					align-items: center;
					display: flex;
					flex-basis: 33%;
					flex-direction: column;
					gap: @md-gap;
				}

				& img {
					height: @big-icon;
					object-fit: contain;
					width: @big-icon;
				}
			}

			input, textarea {
				&:not(input[type=submit]) {
					background-color: @stardew-bg;
					border-bottom: solid 3px #965c3a;
					border-left: solid 3px #965c3a;
					border-radius: 2px;
					border-right: solid 3px #5b2b2a;
					border-top: solid 3px #5b2b2a;
					box-shadow: inset -2px 2px 0 2px #dc7b05, -2px 2px 0 2px #cca36b;
					font-family: @dialogue-ff;
					padding: @small-gap @small-gap;
					scrollbar-width: none;
				}
			}

			input[type=submit] {
				.button-elements;
				.filled-element;
				cursor: @pointer;
				font-family: @primary-ff;
				font-size: @big-fs;
				margin: 0 auto;
				padding: (extract(@button-gaps, 1) * @ratio) (extract(@button-gaps, 2) * @ratio);
			}

			input[type=number] {
				appearance: textfield;
				-moz-appearance: textfield;
				
				&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
					margin: 0;
					-webkit-appearance: none;
				}
			}

			input[type=radio] {
				display: none;
			}
		}
	}
}

// Easter eggs
.fullscreen-image {
	height: 100vh;
    left: -40vw;
    object-fit: cover;
    opacity: 0;
    pointer-events: none;
	position: fixed;
    top: 0;
    transition: opacity 1s ease;
    width: 180vw;
    z-index: 1000;
}

.fullscreen-image.show {
    opacity: 1;
}