// out: false

::selection, moz::selection {
	background: @text-selection-bg;
	color: @text-selection-fc;
}

body {
	margin: 5vh 10vw;

	main {
		background-color: @secondary-bg;
		border-radius: 0 0 5px 5px;
		display: flex;
		flex-wrap: wrap;
		gap: @big-gap 0;
		padding: @small-gap @big-gap;
	
		section {
			&:not(.general-stats) {
				display: flex;
				flex-direction: column;
				gap: @md-gap;
			}
		}
		
		.section-title {
			align-self: flex-start;
			color: @primary-fc;
			font-size: @small-fs;
			font-family: @primary-ff;
			font-weight: 400;
			margin-bottom: 0;
		}
	
		.info-section {
			justify-content: flex-start;
			min-width: fit-content;
			
			&.general-stats {
				flex-basis: 100%;
				position: relative;
	
				div {
					display: flex;
					flex-wrap: wrap;
					gap: @md-gap @bigger-gap;
					margin-top: @md-gap;
				}
				
				span {
					align-items: flex-end;
					display: flex;
					gap: @small-gap;
				}
				
				img {
					height: @md-icon;
					
					&.icon {
						cursor: @pointer;
						position: absolute;
						top: 0;

						&.quest-icon {
							right: 0;
							top: 3px;
							height: 24px;
						}

						&.controller-icon {
							right: (@big-icon + @small-gap);
						}
					}
				}
			}
	
			&.skills-section {
				.skill {
					align-items: center;
					display: flex;
					gap: @md-gap;

					div {
						display: flex;
  						gap: @md-gap;
					}
	
					.level {
						align-items: center;
						display: flex;
						justify-content: center;
						width: 20px;
					}
	
					.level-progress-bar {
						align-items: center;
						display: flex;
						gap: @small-gap;
					}
	
					img {
						height: @md-icon;
					
						&.level-icon {
							height: @big-icon;
						}
					}
				}
			}
	
			&.friends-section {
				& > .has_panel {
					display: flex;
					flex-wrap: wrap;
					gap: @small-gap;

					.view-all-friends {
						align-self: flex-end;
						color: @secondary-fc;
						cursor: @pointer;
						font-family: @primary-ff;
						font-size: @xsmall-fs;
						height: fit-content;
					}
				}

				& > .friendlist {
					display: flex;
					flex-direction: column;
	
					& > span {
						align-items: center;
						display: flex;
					}
		
					.character-icon {
						cursor: @help;
						width: @bigger-icon;
					}

					.character-name {
						font-family: @primary-ff;
						min-width: 75px;
					}
	
					.hearts-level {
						display: flex;
						flex-wrap: wrap;
						gap: @small-gap;
						max-width: 245px;
					
						.hearts {
							width: @small-icon;
						}
					}

					.birthday_icon {
						width: @md-icon;
					}

					.interactions {
						align-items: center;
						display: flex;
						gap: @big-gap;

						& > span {
							display: flex;
							gap: @md-gap;
						}
						
						.interaction {
							width: @md-icon;
						}

						.gift-counter {
							.data;
						}
	
						.week {
							color: @secondary-fc;
							font-family: @secondary-ff;
							font-size: @xsmall-fs;
							width: max-content;
						}
					}

					.friend-status {
						.data;
						font-size: @md-fs;
					}
				}
	
				&.top-friends {
					& > .friendlist {
						height: 100%;
						justify-content: space-between;

						& > span {
							gap: @md-gap;
							justify-content: space-between;

							.character-name {
								text-align: left;
							}
						}
					}
				}
	
				&.all-friends {
					.invisible-panel;
					.panel;
					.panel-with-border;
					height: 80vh;
					padding: @md-gap @big-gap;
	
					& > span {
						& > span {
							gap: @bigger-gap;
						}
					}
		
					.section-title {
						font-size: @big-fs;
					}
					
					& > .friendlist {
						gap: @md-gap;
						justify-content: center;
					}
				}
			}
		}

		.intra-gallery {
			display: flex;
			flex-direction: column;
			gap: @big-gap;
		}
	
		.separated-galleries {
			display: flex;
			flex-wrap: wrap;
			gap: @big-gap 0;
			justify-content: space-between;
			width: 100%;
		}
	
		.gallery {
			display: flex;
			flex-direction: column;
	
			& > span {
				display: flex;
				flex-wrap: wrap;
				gap: @small-gap;
			}

			& > .has_panel {
				span {
					align-self: flex-end;
					color: @secondary-fc;
					cursor: @pointer;
					font-family: @primary-ff;
					font-size: @xsmall-fs;
				}
			}
	
			img {
				height: @big-icon;
				min-width: @big-icon;
				object-fit: contain;

				&.enemies {
					width: @big-icon !important;
				}
			}
		}
	
		& > :last-child {
			margin-bottom: @big-gap;
		}
	}
}